<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Testimonial Slider</title>
  <link rel="stylesheet" href="testimonial.css"/>
</head>
<body>

<section class="testimonial-slider">
  <div class="testimonial-content">
    <div class="stars">★★★★★</div>
    <p id="feedback">
      Thanks for the feedback. We are always looking to improve our product and we would love to look into this issue with you further.
    </p>
    <h3 id="name">John</h3>
    <div class="dots" id="dots"></div>
  </div>
  <div class="right-image">
    <img id="testimonial-img" src="../../assets/testimonial-2.webp" alt="User Image"/>
  </div>
  
</section>

<script src="testimonial.js"></script>
</body>
</html>
